<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.ssm.dao.CustomerDao">
  <resultMap id="BaseResultMap" type="com.ssm.model.Customer">
    <id column="customer_id" property="customerId" jdbcType="INTEGER"/>
    <result column="store_id" property="storeId" jdbcType="INTEGER"/>
    <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
    <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
    <result column="email" property="email" jdbcType="VARCHAR"/>
    <result column="address_id" property="addressId" jdbcType="INTEGER"/>
    <result column="active" property="active" jdbcType="BIT"/>
    <result column="create_date" property="createDate" jdbcType="DATE"/>
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP"/>
  </resultMap>

  <select id="getCustomers" resultMap="BaseResultMap">
    SELECT * FROM customer LIMIT 10
  </select>
</mapper>