<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.ssm.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.ssm.model.User">
    <id column="USER_ID" property="userId" jdbcType="INTEGER"/>
    <result column="USER_NAME" property="userName" jdbcType="CHAR"/>
    <result column="USER_PASSWORD" property="userPassword" jdbcType="CHAR"/>
    <result column="USER_EMAIL" property="userEmail" jdbcType="CHAR"/>
  </resultMap>

  <select id="getUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM t_user WHERE USER_ID = #{userId}
  </select>
</mapper>