<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc:war exploded2">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_war_exploded2</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc" />
        </element>
      </element>
    </root>
  </artifact>
</component>